body{
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: darkgoldenrod;
}

.form{
  position: absolute;
  top: 30%;
  box-shadow: 2px 4px 8px rgba(0,0,0,0.3);
  width: 400px;
  background-color: pink;
  border-radius: 10px;
}

.input{
  width : 100%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  border: none;
  font-size: cursive;

}

.input::placeholder{
  color: lightblue;
}

.list{
  padding:0;
  margin: 0;
}

.list li{
  list-style-type:none;
  padding: 20px;
  font-family:cursive;
  border-top:dotted;
  border-color: darkgray;
  position: relative;
}

.list li .fa-trash-can{
  color:red;
  position: absolute;
  right: 10px;
  top:50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.list li .fa-square-check{
  color:green;
  position: absolute;
  right: 40px;
  top:50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.list li.checked{
  color:darkgray;
  text-decoration: line-through;
}

.list li.checked .fa-square-check{
  color:darkgray;
  text-decoration: line-through;
}